body {
    background-color: dimgray;
    text-align: center;
}

h1 {
    font-size: 5rem;
    color: aqua;

}

h3 {
    font-size: 2rem;
    display: inline-block;
    color: aqua;
}

img {
    display: inline-block;

}

table{
    display: inline;
}

